<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teams</title>
</head>
<body>
    <h1>Teams</h1>
    <% teams.forEach(team => { %>
        <div>
            <h4 style="background-color: <%= team.color %>"><%= team.id %> -- <%= team.name %></h4> 
        </div>    
    <% }) %>    
</body>
</html>