<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soccer</title>
</head>
<body>
    <h1>Create New Team</h1>
    <form action="/teams" method="POST">
        <label>
            <span>Team Name</span>
            <input type="text" name="name" />
        </label>

        <label>
            <span>Team Color</span>
            <input type="text" name="color" />
        </label>
        <button type="submit">Create New Team</button>
    </form>
</body>
</html>